@media screen and (max-width: 725px) {
    body {
      transform: rotate(+90deg);
      transform-origin: 50% 50%;
    }
    }
body {
    background-color: honeydew;
    background-image: url('decision.jpg');
  }
  

  .buttons {
    text-align: center;
  }
  .btn {
    max-width: 20%;
    height: 95px;
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
    margin: 7px;
    width:100%;

  }